/* -----------------------------------------
   Custom.css - put your own changes here 
----------------------------------------- */
form label{
    display: inline-table;
    width: 100%;
}
form label.error{
    color: red;
    font-style: italic;
    font-weight: 300;
}
form input[type="radio"] {
    position: absolute;
    opacity: 0;
}